<header>
  <div class="container header-content">
    <div class="left-side">
      <img
        src="/src/img/pikachu.png"
        alt="Logo"
        class="header-logo"
      />
      <span class="text">Kyrylo*</span>
    </div>
    <div>
      <button id="menu-button" class="menu-button">Menu</button>
      <ul class="menu-hidden-items" tabindex="0">
        <li class="menu-hidden-item"><a href="#about_me">About me</a></li>
        <li class="menu-hidden-item"><a href="#benefits">Benefits</a></li>
        <li class="menu-hidden-item"><a href="#projects">Projects</a></li>
        <li class="menu-hidden-item"><a href="#faq">FAQ</a></li>
      </ul>
    </div>
    <a class="order-button" href="#work_together">Order the project</a>
    <button class="menu-open-button-btn">
      burger
    </button>
  </div>
</header>
<div class="backdrop">
  <button class="close-btn" type="button" aria-label="Close">
    X
  </button>
  <div class="menu-list">
    <ul class="menu-items">
      <li class="menu-item">About me</li>
      <li class="menu-item">Benefits</li>
      <li class="menu-item">Projects</li>
      <li class="menu-item">FAQ</li>
    </ul>
  </div>
  <a class="order-backdrop-button"  href="#work_together">Order the project</a>
</div>