<section class="hero-section">
  <h1 class="hero-title">
    Hello.<br />
    I’m Fullstack developer Kyrylo Kuzmenko.
  </h1>
  <div class="hero-contacts">
    <ul class="hero-contacts-list">
      <li><a class="hero-contact-list-item" href="">IG</a></li>
      <li><a class="hero-contact-list-item" href="">FB</a></li>
      <li><a class="hero-contact-list-item" href="">GH</a></li>
      <li>
        <a class="hero-contact-list-item" href="mailto:kkuzmenko1992@gmail.com">
          kkuzmenko1992@gmail.com
        </a>
      </li>
    </ul>
  </div>
</section>
